.BuildCreatedConfirmed-div{
    margin: 5px;
    background-color: #c3c7d2;
    border-style: outset;
    border-color: black;
    border-radius: 5px;
    width: 95%;
    height: auto;
    color: black;
    position: fixed;
    text-align: center;
    top: 50%;
    left: 48.5%;
    transform: translate(-50%, -50%);
}

.BuildCreatedConfirmed-img{
    width: 75%;
    height: auto;
    border-radius: 5px;
}

.BuildCreatedConfirmed-button{
    width: 90%;
    background-color: red;
    padding: 5px 40px;
    margin: 5px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}