.CreateBuild-div{
    box-shadow: 2px 4px 8px 2px rgb(182, 182, 182);
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #c3c7d2;
    border-style: solid;
    border-color: #b7bbc9;
    border-radius: 5px;
    text-align: center;
}

.CreateBuild-input {
    border: 0;
    background: white;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #203f54;
    border-radius: 24px;
    transition: 0.25s;
}

.CreateBuild-submit {
    border: 0;
    background: #2ecc71;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #203f54;
    border-radius: 24px;
    transition: 0.25s;
}
