.NewBuildForm-switchMakeButton{
    background: rgba(255, 0, 0, 0.767);
    display: block;
    margin: 20px auto;
    border: 2px solid black;
    outline: none;
    color: #203f54;
    border-radius: 24px;
    transition: 0.25s;
    width: 95%;
}

.NewBuildForm-submit{
    border: 0;
    background: #2ecc71;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px outset #2ecc71;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #203f54;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}