.UserBuildCard-div {
    border-style: outset;
    padding: 40px;
    background-color: #c3c7d2;
    color: black;
    margin: 2px;
    border-radius: 10px;
    width: 70%;
}

.UserBuildCard-img{
    width: 100%;
    border-radius: 5px;
}

.UserBuildCard-deleteButton{
    width: 90%;
    background-color: red;
    padding: 5px 40px;
    margin: 5px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.UserBuildCard-updateButton{
    width: 90%;
    border: 2px outset #2ecc71;
    background-color: #2ecc71;
    padding: 5px 40px;
    margin: 5px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}