.UserBuildContainer-div {
    padding: 40px;
    background-color: #c3c7d2;
    color: black;
    margin: 15px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.UserBuildContainer-buildContainerDiv{
    display: flex;
    flex-wrap: wrap;
}

.UserBuildContainer-div:hover{
    box-shadow: 0 4px 8px 0 rgb(51, 51, 51);
}

.UserBuildContainer-img{
    width: 100%;
    border-radius: 5px;
}

.UserBuildContainer-renderCreateBuildFormButton {
    background: #3498db;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 5px;
    width: 95%;
    color: black;
    border-radius: 15px;
    cursor: pointer;
}

.userBuildContainer-cardImage{
    width: 25%;
    height: 100%;
    position: relative;
    /* border-radius: 5px; */
}